.places{
    font-family:'Inter' , Arial, sans-serif;
    max-width: 984px;
    margin: 0 148px 0 148px;
    padding: 0;
    display: grid;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .places{
        max-width: calc(100% - 96px);
        margin: 0 48px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .places{
        margin: 0 24px 0 24px;
        max-width: calc(100% - 24px);
    }
}


@media screen and (max-width: 380px) {
    .places{
        margin: 0 auto 0 auto;
        max-width: calc(100% - 24px);
    }
}

@media screen and (max-width: 350px) {
    .places{
        max-width: 100%;
    }
}
