.place__image {
    margin: 0;
    padding: 0;
    max-width: 480px;
    height: auto;
    grid-row: 2;
    grid-column: 1;
  }
  
  @media screen and (max-width: 1024px) {
    .place__image {
      width: 100%;
    }
  }