.intro__list{
    margin: 33px 0 0 0;
    padding: 0;
    width: 690px;
    height: 90px;
    color: #ffffff;
    list-style: none;
    /*настройка шрифта*/
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-widht: 320px) {
    .intro__list{
    max-width: 288px;
    max-height: 90px;
    }
}

@media screen and (max-widht: 768px) {
    .intro__list{
    max-width: 720px;
    max-height: 90px;
    }
}