.intro__list{
    margin: 33px 0 0 0;
    padding: 0;
    width: 690px;
    height: 90px;
    color: #ffffff;
    list-style: none;
    /*настройка шрифта*/
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}