.header{
    margin: 28px 48px 0 48px;
    padding: 0;
    max-width: 1184px;
    width: calc(100% - 96px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: content-box;
}


@media screen and (max-width: 1024px) {
    .header{
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header{
        margin: 28px 32px 0 32px;
        width: calc(100%-48px);
    }
}

@media screen and (max-width: 320px) {
    .header{
        margin: 16px 16px 0 16px;
        width: 288px;
    }
}