.lead__title{
    font-family:'Inter' , Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 768px){
    .lead__title{
        min-width: 288px;
        margin: 0 auto 0; 
    }
}

@media screen and (max-width: 692px){
    .lead__title{
        font-size: 60px;
        line-height: 50px;
    }
}

@media screen and (max-width: 455px){
    .lead__title{
        font-size: 42px;
        line-height: 44px;
    }
}

@media screen and (max-width: 320px){
    .lead__title{
        max-width: 288px;
        font-size: 40px;
    }
}
