.place__paragraph{
    margin: 0;
    padding: 0;
    /* width: 484px; */
    font-family: "Inter", "Arial ", sans-serif;
    color: #ffffff;
    grid-row: span 2 / span 2;
    grid-column: 2;
    /*настройка шрифта*/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

@media screen and (max-width: 1184px) {
    .place__paragraph{
        margin: 0;
        font-size: 16px;
        line-height: 163%;
    }
    
}

@media screen and (max-width: 978px) {
    .place__paragraph{
        margin: 0;
        font-size: 16px;
        line-height: 163%;
    }
    
}

@media screen and (max-width: 768px) {
    .place__paragraph{
        margin: 0;
        max-width: 352px;
        font-size: 16px;
        line-height: 163%;
    }
    
}

@media screen and (max-width: 320px) {
    .place__paragraph{
        margin: auto;
        max-width: 288px;
        grid-row: 4;
        grid-column: 1;
    }
    
}