.intro__text{
    font-family:'Inter', Arial, sans-serif;
    margin: 40px 0 0 0;
    padding: 0;
    max-width: 690px;
    color: #ffffff;
    box-sizing: content-box;
    /*натсройка шрифта*/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

@media screen and (max-width: 320px){
    .intro__text{
        max-width: 288px;
    }
    
}