.lead__subtitle{
    margin: 32px 0 64px 0;
    padding: 0;
    text-align: center;
    width: 640px;
    height: 72px;
    /*настройки шрифта*/
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
}