.place__link{
    margin: 0;
    padding: 0;
    color: #ffffff;
    /*настройка шрифта*/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    opacity: 1;
}

.place__link:hover{
    opacity: .5;
}

@media screen and (max-width: 768px) {
    .place__link{
        width: 352px;
    }
    
}

@media screen and (max-width: 320px) {
    .place__link{
        margin: 0 16px 0 16px;
    }
    
}
