.place__link{
    margin: 0;
    padding: 0;
    width: 456px;
    height: 22px;
    color: #ffffff;
    /*настройка шрифта*/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
}