.place__url-heading{
    margin: 0;
    padding: 0;
    font-family:'Inter', Arial, sans-serif;
    max-width: 320px;
    height: 12px;
    color: #aaaaaa;
    /*настройка шрифтов*/
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

@media screen and (max-width: 320px) {
    .place__url-heading{
        margin: 0 16px 0 16px;
    }
    
}