.place_url-heading{
    margin: 0;
    padding: 0;
    width: 456px;
    height: 12px;
    align-self: flex-end;
    color: #aaaaaa;
    grid-row: 2;
    grid-column: 2;
    align-self: end;
    /*настройка шрифтов*/
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

}